<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{root}}styles.css" rel="stylesheet">
<title>{{page.title}}</title>
</head>
<body>

<h1>List of posts</h1>

<ol>
{{#each data}}
    <li>
        <h2><a href="{{path}}">{{{page.title}}}</a></h2>
        <em>Published on: {{page.date}}</em>
        <p>{{page.description}}</p>
    </li>
{{/each}}
</ol>

<script src="{{root}}bundle.js"></script>
</body>
</html>